<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Fancy Music App
        <ng-container *ngIf="(online$ | async); else offlineLabel">
            <span class="badge badge-success float-right">Online</span>
        </ng-container>
        <ng-template #offlineLabel>
          <span class="badge badge-danger float-right">Offline</span>
        </ng-template>       
      </div>
      <div class="card-body">
        <div class="form-row mb-3">
          <div class="col-11">
            <input class="form-control" [(ngModel)]="searchTerm" placeholder="Search by artist..." type="text">
          </div>
          <div class="col-1">
            <button class="btn btn-outline-primary" (click)=searchAlbums() type="button">Search</button>
          </div>
        </div>
        <p *ngIf="data" class="text-muted">Amount of items: {{data?.resultCount}}</p>
      </div>
    </div>

    <ng-container *ngFor="let item of data?.results">
      <div class="card">
        <div class="card-body">
          <img src={{item.artworkUrl100}} class="rounded float-right ml-2" alt="Card image cap">
          <h5 class="card-title">{{item.collectionName}}</h5>
          <p class="card-text">{{item.artistName}}</p>
          <p class="card-text">{{item.primaryGenreName}}, {{item.releaseDate | date:'yyyy'}}</p>
          <a href={{item.collectionViewUrl}} target="_blank" class="btn btn-outline-primary">Open in Itunes</a>
        </div>
      </div>
    </ng-container>
  </div>
</body>

</html>